@using ReservationSystem.ViewComponents
@using ReservationSystem.ViewModels.CalendarViewModels
@model DateTime

<div id="rs-calendar" class="app-container">
  <div class="datepicker">
    <div class="datepicker-header">
      <div class="datepicker-title">@GlobalConstants.CalendarTitle</div>
    </div>
    <div id="rs-calendar-container">
      @await Component.InvokeAsync(typeof(CalendarViewComponent), new { selectedYearMonth = Model.ToLocalTime() })
    </div>
    <div id="rs-selected-date-container">
      @await Component.InvokeAsync(typeof(SelectedDateDataViewComponent), new { viewModel = new SelectedDateDataViewModel() })
    </div>
    <div class="buttons-container">
      <button id="rs-calendar-cancel-button" class="btn rs-calendar-cancel-button">Cancel</button>
      <button id="rs-calendar-reserve-button" class="btn rs-calendar-reserve-button disabled">Reserve</button>
    </div>
  </div>
</div>

