* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 20px;
  color: #dddddd;
  font-size: 16px;
  background: #222; }
  body hr {
    border-color: #dddddd !important; }
  body .container {
    /* Datepicker Stuff */ }
    body .container #rs-reservations-admin {
      color: #dddddd; }
      body .container #rs-reservations-admin #rs-datetimepicker {
        color: black;
        z-index: 1000; }
      body .container #rs-reservations-admin .rs-total-price {
        display: inline-block;
        white-space: normal;
        font-size: 1.1em;
        line-height: inherit; }
      body .container #rs-reservations-admin #rs-reservations-uptodate.table-striped > tbody > tr:nth-of-type(odd) {
        color: #171717; }
    body .container .app-container {
      color: black;
      background: white;
      border-radius: 5px;
      overflow: hidden;
      height: auto;
      width: 720px;
      max-width: 100%;
      position: static;
      padding-bottom: 20px;
      margin: auto; }
    body .container .rs-calendar-cancel-button,
    body .container .rs-calendar-reserve-button {
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      margin-left: 15px;
      margin-top: 20px; }
    body .container .rs-calendar-cancel-button {
      border: 1px solid #0DAD83;
      background: white;
      color: #0DAD83; }
    body .container .rs-calendar-reserve-button {
      border: 1px solid white;
      background: #0DAD83;
      color: white; }
    body .container .datepicker {
      position: relative;
      width: 100%;
      display: block;
      -webkit-tap-highlight-color: transparent;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-family: "Roboto", sans-serif;
      overflow: hidden;
      transition: background 0.15s ease; }
    body .container .datepicker-header {
      width: 100%;
      color: white;
      overflow: hidden;
      background-color: #0DAD83; }
    body .container .datepicker-title {
      width: 100%;
      height: 60px;
      line-height: 60px;
      padding: 0 15px;
      text-align: left;
      font-size: 1.2em; }
    body .container .datepicker-subheader {
      width: 100%;
      height: auto;
      line-height: 25px;
      padding: 15px;
      text-align: left; }
    body .container .datepicker-calendar {
      background: white;
      padding: 20px 15px 15px;
      width: 100%;
      display: block; }
    body .container .calendar-header {
      color: black;
      font-weight: bolder;
      text-align: center;
      font-size: 1.1em;
      padding: 10px 0;
      position: relative; }
    body .container .current-month-container {
      display: inline-block;
      height: 30px;
      position: relative; }
    body .container .getPreviousMonth,
    body .container .getNextMonth {
      height: 30px;
      width: 30px;
      border-radius: 30px;
      display: inline-block;
      cursor: pointer;
      position: relative;
      top: -4px; }
    body .container .getPreviousMonth path,
    body .container .getNextMonth path {
      transition: stroke 0.15s ease; }
    body .container .getPreviousMonth {
      float: left;
      margin-left: 3.8%; }
    body .container .getNextMonth {
      float: right;
      margin-right: 3.8%; }
    body .container .calendar-day-header {
      width: 100%;
      position: relative; }
    body .container .day-label,
    body .container .datecontainer {
      display: inline-block;
      text-align: center;
      padding: 5px 0;
      width: 13%; }
    body .container .day-label {
      color: #8A8A8A; }
    body .container .datenumber {
      max-width: 35px;
      max-height: 35px;
      line-height: 35px;
      margin: 0 auto;
      position: relative;
      text-align: center;
      cursor: pointer;
      z-index: 1;
      transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12); }
    body .container .datenumber:before {
      content: '';
      display: block;
      position: absolute;
      height: 35px;
      width: 35px;
      border-radius: 100px;
      z-index: -1;
      background: transparent;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      -ms-transform: scale(0.75);
      -o-transform: scale(0.75);
      transform: scale(0.75);
      transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
      transition-property: background, transform, color, border; }
    body .container .datenumber:hover {
      color: white; }
    body .container .datenumber:hover::before {
      background: #FFAB91;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    body .container .no-hover .datenumber,
    body .container .no-hover .datenumber:hover,
    body .container .no-hover .datenumber:before,
    body .container .no-hover .datenumber:hover::before,
    body .container .no-hover .datenumber.day-selected:before {
      cursor: default;
      color: #8A8A8A;
      background: transparent;
      opacity: 0.5; }
    body .container .day-selected,
    body .container .reservation-user,
    body .container .reservation-other {
      color: white; }
    body .container .reservation-user,
    body .container .reservation-other {
      cursor: default; }
    body .container .datenumber.day-selected:before {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-animation: select-date .25s forwards;
      -moz-animation: select-date .25s forwards;
      animation: select-date .25s forwards;
      background: #FF6E40; }
    body .container .datenumber.reservation-user:before {
      cursor: default;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      background: #11ee00; }
    body .container .datenumber.reservation-other:before {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      background: #ed1919; }

@-webkit-keyframes select-date {
  0% {
    background: #FFAB91; }
  100% {
    background: #FF6E40; } }

@keyframes select-date {
  0% {
    background: #FFAB91; }
  100% {
    background: #FF6E40; } }
    body .container footer {
      color: #9d9d9d; }

